# This is a basic workflow to help you get started with Actions

name: clone to beta

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: 
      - develop
    paths-ignore:
      - '.github/**'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      
    - run: git clone -b develop --single-branch https://github.com/somsac/pojistovny.data.beta.git
    - run: git remote set-url origin https://github.com/somsac/pojistovny.data.beta
    - run: git push -u origin develop
